@font-face {
    font-family: font1;
    src: url(../mini-project/64d3dd9edfb41666c35b15bf_NeueHaasDisplay-Mediu.woff);
}

@font-face {
    font-family: font2;
    src: url(../mini-project/64d3dd9edfb41666c35b15c0_NeueHaasDisplay-Roman.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: font1;
    text-transform: capitalize;
    background-color: #EFEAE3;
    overscroll-behavior: none;
}

.main{
    z-index: 100;
    position: relative;
    overflow: hidden;

}


.page1{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 2vw;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999999999;
}

.nav h3{
    display: none;
}

.nav-elem{
    display: flex;
    align-items: center;
    gap: .5vw;

}

.nav-elem h1{
    position: relative;
    font-size: 1.1vw;
    font-weight: 100;
    border: 1px solid rgba(0, 0, 0, 0.241);
    padding: .8vw 1.6vw;
    border-radius: 25px;
    font-family: font2;
    transition: all ease 0.3s;
    overflow: hidden;
}

.nav-elem h1::after{
    content: "";
    height: 200%;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.nav-elem h1:hover::after{
    top: 0;
    border-radius: 0;
}

.nav-elem a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
    transition: all ease 0.3s;
}

.nav-elem h1:hover a{
    color: #fff;
}

.center{
    height: 83vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 9vh ;
    align-items: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
}

.left h2{
    width: 25vw;
    font-weight: 900;
    font-size: 1.8vw;
    text-transform: initial;
    line-height: 2vw;
}

.right{
    text-align: end;
}

.right h1{
    font-size: 10.5vw;
    font-weight: 900;
    line-height: 8.5vw;
}

.page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 2vw;
    overflow: hidden;
}



.page2 video {
    position: relative;
    width: 100%;
    -webkit-clip-path: inset(0px round 10px);
    clip-path: inset(0px round 20px);
    z-index: 111;
  }
  

.hero-shape{
    position: absolute;
    right: 5%;
    top: 90vh;
    height: 36vw;
    width: 36vw;
    border-radius: 50%;
   background: linear-gradient(#FE330A, #fe630a);
    filter: blur(20px);
    z-index: 1;
}

.hero-shape1{
    position: absolute;
    right: 20%;
    top: 90vh;
    height: 36vw;
    width: 36vw;
    border-radius: 50%;
   background: linear-gradient(#FE330A, #fe630a);
    filter: blur(20px);
    z-index: 1;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero-shape2{
    position: absolute;
    right: -10%;
    top: 80vh;
    height: 36vw;
    width: 56vw;
    border-radius: 500px;
   background: linear-gradient(#FE330A, #fe630a);
    filter: blur(20px);
    z-index: 1;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    
    from{
        transform: translate(-0% , 10%) rotate(30deg);
    }

    to{
        transform: translate(0% , -10%) rotate(-30deg);
    }
    
}

@keyframes anime2 {
    
    from{
        transform: translate(-5% , 5%) rotate(10deg);
    }

    to{
        transform: translate(5% , -5%) rotate(-10deg);
    }
    
}

.page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 5vw 0vw;
}

.moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

.goli{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE330A;
    margin: 1vw 2vw;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text{
    white-space: nowrap;
    overflow-x: auto;
    pointer-events: none;
}
.moving-text::-webkit-scrollbar{
    display: none;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }

}

.page3-bottom{
    height: 100vh;
    width: 100%;
    padding: 10vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3-bottom h1{
    font-size: 4vw;
    text-transform: none;
    width: 800px; ;
    z-index: 99;
}

.page3-right{
    width: 23%;
    margin-top: 300px;
}

.page3-right h2{
    font-size: 1vw;
    font-weight: 100;
    line-height: 20px;
    font-family: font2;

}

.page3-right img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3vw;
}

.page3>h5{
    font-size: 1vw;
    font-weight: 100;
    font-family: font2;
    margin-left: 2vw;
    margin-top: 8vw;
}

.page3 .hero-shape3{
    height: 34vw;
    width: 34vw;
    border-radius: 50%;
    position: absolute;
    background-color: #FE330A;
    left: 25%;
    bottom: 10%;
    filter: blur(20px);
    z-index: 2;
    animation-name: anime3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.page3 .hero-shape4{
    height: 36vw;
    width: 33vw;
    border-radius: 50%;
    position: absolute;
    background-color: #FF9831;
    left: 27%;
    bottom: 8%;
    animation-name: anime4;
    filter: blur(20px);
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes anime3 {
    
    from{
        transform: translate(-10% , 10%) ;
    }

    to{
        transform: translate(10% , -10%) ;
    }
    
}

@keyframes anime4 {
    
    from{
        transform: translate(-10% , 10%) rotate(180deg);
    }

    to{
        transform: translate(10% , -10%) rotate(-180deg);
    }
    
}


.page4{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.dabba{
    position: relative;
    width: 100%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 199, 199);
    padding: 0 2vw;
    overflow: hidden;
}

.dabba h3{
    font-size: 3.5vw;
    z-index: 5;
}

.dabba h4{
    font-size: 1vw;
    font-family: font2;
    font-weight: 100;
    z-index: 5;
}
.dabba span{
    color: rgb(161, 158, 158);
}
.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    left: 0;
    top: -100%;
    transition: ease-out .2s;
    z-index: 0;
}

.dabba:hover .cover{
    top: 0;
}

.page5{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 2vw;
}

.page5 h2{
    position: relative;
    font-size: 1.1vw;
    font-family: font2;
    font-weight: 100;
    border: 1px solid rgba(151, 150, 150, 0.796);
    display: inline-block;
    padding: 12px 22px;
    border-radius: 25px;
    z-index: 999;
    overflow: hidden;
}

.page5 h2::after{
    content: "";
    height: 200%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 50%;
    z-index: 2;
    transition: all ease 0.3s;
}

.page5 h2:hover::after{
    top: 0;
    border-radius: 0;
    transition: all ease 0.3s;
}

.page5 h2:hover a{
    color: #fff;
}

.page5 h2 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
    transition: all ease 0.3s;
}

.page5 .design-box{
    margin-top: 10vw;
    height: 110vh;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    color: #fff;
    display: flex;
}

.page5-left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11vw;
}

.page5-text h1{
    font-size: 4.5vw;
    border-left: 2px solid #504A45;
    padding-left: 1vw;
    color: #504A45;
    line-height: 4.5vw;
    
   
}
.page5-text{
    margin-bottom: 3vw;
}

.page5-left p{
    font-family: font2;
    font-weight: 100;
    line-height: 1.5vw;
}

.page5-text h1{
    color: #504A45;
}

.page5-text .orange{
    border-left:3px solid #FE330A;
    color:#EFEAE3 ;
}

.page5-right{
    height: 100%;
    width: 55%;
}

.page5-right img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.fixed-image{
    pointer-events: none;
    position: fixed;
    left: 50%;
    top: 20%;
    height: 30vw;
    width: 25vw;
    border-radius: 10px;
    z-index: 999;
    display: none;
    background-size: cover;
    background-position: center;
}

.page6{
    height: 85vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-left: 6vw;
    padding-top: 5vw;
}



.page6 h6{
    font-size: 1vw;
    font-family: font2;
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5vw;
}

.page6 span{
    font-size: .6vw;
}

.swiper {
    width: 100%;
  }

  .swiper-slide {
    font-size: 1.1vw;
    font-family: font2;
    border-left: 1.5px solid rgb(199, 198, 198);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5vw;
    padding-right: 6.5vw;
    
  }
 

  .swiper-slide img {
    margin-bottom: 2vw;
    width: 60%;


  }

 

.page7{
    height: 100vh;
    width: 100%;

}

.footer{
    height: 100vh;
    width: 100%;
    position: fixed;
    color: #EFEAE3;
    z-index: 999;
    bottom: 0;
    z-index: 9;
    background-color: black;
    padding: 0vw 2vw;

}

.footer-shape{
    position: absolute;
    height: 30vw;
    left: -25%;
    top: -40%;
    width: 140%;
    z-index: 0;
    filter: blur(50px);
    background-color: #FE330A;
    animation-name: anime5;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.footer-shape1{
    position: absolute;
    height: 40vw;
    right: -35%;
    top: -65%;
    width: 140%;
    z-index: 0;
    filter: blur(50px);
    background-color: #FE330A;
    animation-name: anime6;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.footer-shape2{
    position: absolute;
    height: 30vw;
    width: 100%;
    background-color: #FE330A;
    left: 0;
    top: -35%;
    filter: blur(50px);
}


@keyframes anime5 {
    
    from{
        transform: translate(0% , 0%) rotate(-5deg) ;
    }

    to{
        transform: translate(0% , 0%) rotate(-20deg);
    }
    
}

@keyframes anime6 {
    
    from{
        transform: translate(-10% , 10%) rotate(20deg) ;
    }

    to{
        transform: translate(10% , -10%) rotate(30deg);
    }
    
}

.address{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 900px;
    padding: 8vw 6vw 0vw 4vw;
    z-index: 66;
}

.footerleft h2{
    font-size: 2.2vw;
}

.footerright {
    width: 42%;
}


.footerright h3{
    font-family: font2;
    font-weight: 100;
    font-size: 1.3vw;
}



.sundown h1{
    position: absolute;
    font-size: 23vw;
    text-align: center;
    bottom: 5%;
}

.links{
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border-top: 1px solid #EFEAE3;
    width: 95%;
    left: 2.5%;
    bottom: 0;
}

.links a{
    color: #EFEAE3;
    text-decoration: none;
    font-family: font2;
    font-weight: 100;
}


.fullscr{
    position: fixed;
    top: -120%;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    transition: all ease 0.6s;
}

.fulldiv{
    display: none;
    height: 55%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 35vw;
    padding-right: 5vw;
}

.fulldiv h1{
    font-size: 13.5vw;
    color: black;
    text-align:end;
}


.loader{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 99999999999;
    color: #EFEAE3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h2{
    position: absolute;
    font-size: 3vw;
    display: none;
    color: transparent;
    background: linear-gradient(to right, #FF9831 ,#FE330A);
    -webkit-background-clip: text;
}





@media (max-width: 600px) {

    .fulldiv{
        display: block;
    } 
    
    .page1{
        height: 85vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        padding: 0;
        
    }

    .nav img{
        scale: 0.9;
        transition: all ease 0.2s;
    }
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:5vw 3vw ;
        background-color: #EFEAE3;
    }
    
    .nav-elem{
        display: none;
    
    }

    .nav h3{
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.241);
        font-weight: 100;
        font-family: font2;
        padding: 3vw 6vw;
        border-radius: 25px;
        font-size: 4vw;
    }
    

    

    
    .center{
        height: 65vh;
        width: 92%;
        flex-direction: column-reverse;
        padding-bottom: 7vh ;
        border-bottom: 1px solid rgba(0, 0, 0, 0.155);
        margin: 0 4vw;
    }
    
    .left h2{
        width: 90%;
        font-weight: 900;
        font-size: 6.1vw;
        line-height: 7vw;
       
    }
    
    .right{
        text-align: end;
        margin-top: 20vw;
    }
    
    .right h1{
        font-size: 18vw;
        font-weight: 900;
        line-height: 17vw;
    
    }



.page2{
    min-height: 75vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 0vw 4vw;
    overflow: hidden;
}



.page2 video {
    position: relative;
    height: 75vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  

.hero-shape{
    position: absolute;
    right: 5%;
    top: 90vh;
    height: 56vw;
    width: 56vw;

}

.hero-shape1{
    position: absolute;
    right: 0%;
    top: 90vh;
    height: 56vw;
    width: 56vw;

}

.hero-shape2{
    position: absolute;
    right: -10%;
    top: 75vh;
    height: 56vw;
    width: 86vw;
}


.page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 15vw 0vw;
}

.moving-text h1{
    font-size: 13vw;
  
}

.goli{
    height: 7vw;
    width: 7vw;

}


.page3-bottom{
    min-height: 100vh;
    width: 100%;
    padding: 20vw 0vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0vw;
   
}

.page3-bottom h1{
    font-size: 7.5vw;
    line-height: 8vw;
    text-transform: none;
    width: 90% ;
    z-index: 99;
}

.page3-right{
    width: 90%;
    margin-top: 0vw;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page3-right h2{
    font-size: 5vw;
    font-weight: 100;
    line-height: 28px;
    text-transform: initial;
    font-family: font2;

}

.page3-right img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8vw;

}

.page3>h5{
display: none;
}

.page3 .hero-shape3{
    height: 70vw;
    width: 70vw;
    left: 45%;
    bottom: 35%;

}

.page3 .hero-shape4{
    height: 70vw;
    width: 73vw;
    left: 47%;
    bottom: 39%;
    animation-name: anime4;

}

.page4{
    display: none;
}



.page5{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 5vw;
}

.page5 h2{
    font-size: 4.5vw;
}


.page5 .design-box{
    margin-top: 15vw;
    height: 100vh;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.page5-left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 8vw;
}

.page5-text h1{
    font-size: 12vw;
    border-left: 2px solid #504A45;
    padding-left: 3.5vw;
    line-height: 10.5vw;
    
   
}
.page5-text{
    margin-bottom: 8vw;
}

.page5-left p{
    font-family: font2;
    font-weight: 100;
    line-height: 6.5vw;
    font-size: 4.5vw;
    text-transform: initial;
}


.page5-right{
    height: 100%;
    width: 100%;
    
}


.page6{
    min-height: 80vh;
    width: 100%;
    padding-left: 4vw;
    padding-top: 15vw;
    padding-bottom: 4vw;
}



.page6 h6{
    margin-top: 15vw;
    font-size: 4.5vw;
    margin-bottom: 25vw;
}

.page6 span{
    font-size: 2.5vw;
}
.swiper {
    width: 100%;
  }

  .swiper-slide {
    font-size: 4vw;
    padding-left: 5vw;
    padding-right: .5vw;
    
  }
 

  .swiper-slide img {
    margin-bottom: 3.5vw;
    width: 75%;


  }

  .page7{
    height: 90vh;
  }


  .footer{
    height: 90vh;
    width: 100%;
    position: fixed;
    color: #EFEAE3;
    z-index: 999;
    bottom: 0;
    z-index: 9;
    background-color: black;
    padding: 0vw 2vw;

}

.footer-shape{
    position: absolute;
    height: 80vw;
    left: -35%;
    top: -10%;
    width: 140%;
    z-index: 0;
    filter: blur(50px);

}

.footer-shape1{
    position: absolute;
    height: 80vw;
    right: -45%;
    top: -10%;
    width: 140%;
    z-index: 0;
    filter: blur(50px);

}

.footer-shape2{
    height: 30vw;
    width: 100%;
    background-color: #FE330A;
    left: 0;
    top: 0%;
    filter: blur(50px);
}


@keyframes anime5 {
    
    from{
        transform: translate(0% , 0%) rotate(-5deg) ;
    }

    to{
        transform: translate(0% , 0%) rotate(-20deg);
    }
    
}

@keyframes anime6 {
    
    from{
        transform: translate(-10% , 10%) rotate(20deg) ;
    }

    to{
        transform: translate(10% , -10%) rotate(30deg);
    }
    
}

.address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding:25vw 2vw;
}

.footerleft h2{
    font-size: 8vw;
    line-height: 10vw;
}

.footerright {
    width: 100%;
}


.footerright h3{
    font-weight: 100;
    font-size: 5.3vw;
}



.sundown h1{
    bottom: 25%;
}

.links{
    padding: 4vw 0vw;
    height: 20vh;
    border-top: 1px solid #EFEAE3;
    width: 95%;
    left: 2.5%;
    bottom: 0;
    flex-direction: column;
}

.links a{
    font-size: 4vw;
    color: #EFEAE3;
    text-decoration: none;
    font-family: font2;
    font-weight: 100;
}
}